<template>
  <q-page class="full-width">
    <div class="q-mt-sm q-mb-sm q-mr-sm q-ml-sm">
      <q-card class="my-card">
        <q-card-section>
          <h4>Change Account Password</h4>
          <br />
          <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
            <q-input
              v-model="user.username"
              readonly
              label="Username"
              color="purple"
            />
            <q-input
              v-model="user.password"
              :type="isPwd ? 'password' : 'text'"
              color="purple"
              label="New Password"
            >
              <template v-slot:append>
                <q-icon
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
            </q-input>

            <q-input
              v-model="user.passwordconf"
              :type="isPwd2 ? 'password' : 'text'"
              color="purple"
              label="Confirm New Password"
            >
              <template v-slot:append>
                <q-icon
                  :name="isPwd2 ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd2 = !isPwd2"
                />
              </template>
            </q-input>

            <div>
              <q-btn label="Submit" type="submit" color="purple" />
              <q-btn
                label="Reset"
                type="reset"
                color="purple"
                flat
                class="q-ml-sm"
              />
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script src="./js/changepass.js"></script>
