<template>
  <q-page class="full-width">
    <div class="q-pa-md doc-container">
      <div class="column">
        <div class="col self-center q-mt-xl">
          <div class="q-pa-md doc-container">
            <div class="column">
              <div class="col self-center q-mt-xl">
                <q-card class="my-card">
                  <q-card-section>
                    <div style="width: 300px">
                      <p class="text-center text-h4"><b>LOGIN</b></p>
                      <q-input
                        v-model="cred.username"
                        label="Username"
                        color="purple"
                      />
                      <br />
                      <q-input
                        type="password"
                        v-model="cred.password"
                        label="Password"
                        color="purple"
                        @keypress.enter="onSubmit()"
                      />
                      <br />
                      <div class="q-pa-md">
                        <q-btn-group spread>
                          <q-btn
                          label="Login"
                          type="submit"
                          color="purple"
                          @click="onSubmit()"
                          />
                          <q-btn
                            label="Reset"
                            type="reset"
                            color="purple"
                            flat
                            class="q-ml-sm"
                            @click="onReset()"
                          />
                        </q-btn-group>
                      </div>
                      <p class="text-center text-weight-light q-mt-sm">Employee Engineering List (EEL)</p>
                    </div>
                  </q-card-section>
                </q-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<style lang="sass" scoped>
.doc-container > div + div
  margin-top: 1rem
</style>

<style>
  .my-card{
    background: #edeff1;
    margin: 0px auto;
    padding-top: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  }
</style>

<script src="./js/login.js"></script>
