<template>
  <q-page class="full-width">
    <div class="q-mt-sm q-mb-sm q-mr-sm q-ml-sm">
      <h4>Master Bonus</h4>
      <q-card>
        <q-tabs
          v-model="tab"
          dense
          class="text-grey"
          active-color="purple"
          indicator-color="purple"
          align="justify"
          narrow-indicator
        >
          <q-tab name="bonus" label="Bonus Point" />
          <q-tab name="skillset" label="Skill Set" />
        </q-tabs>

        <q-separator />

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="bonus">
            <div class="q-pa-md q-gutter-sm">
              <q-btn
                label="Create New Bonus"
                color="purple"
                icon="add"
                @click="iconcreate = true"
              />
            </div>
            <q-table
              class="my-sticky-column-table"
              title="Premium Bonus Table"
              :data="bonusPremiumRows"
              :columns="bonusColumns"
              :filter="filterpremium"
              row-key="name"
            >
              <template v-slot:top-right>
                <q-input
                  borderless
                  dense
                  debounce="300"
                  v-model="filterpremium"
                  placeholder="Search"
                >
                  <template v-slot:append>
                    <q-icon name="search" />
                  </template>
                </q-input>
              </template>

              <template v-slot:body="props">
                <q-tr :props="props">
                  <q-td key="no" :props="props">{{ props.row.no }}</q-td>
                  <q-td key="tickettype" :props="props">{{
                    props.row.tickettype
                  }}</q-td>
                  <q-td key="point1" :props="props">{{
                    props.row.point1
                  }}</q-td>
                  <q-td key="point2" :props="props">{{
                    props.row.point2
                  }}</q-td>
                  <q-td key="point3" :props="props">{{
                    props.row.point3
                  }}</q-td>
                  <q-td key="multiple" :props="props">
                    {{ props.row.multiple }}
                  </q-td>
                  <q-td key="multiplepoint" :props="props">
                    {{ props.row.multiplepoint }}
                  </q-td>
                  <q-td key="note" :props="props">
                    {{ props.row.note }}
                  </q-td>
                  <q-td key="bonusid" :props="props">
                    <q-btn-group>
                      <q-btn
                        @click="doUpdate(props.row.bonusid)"
                        color="warning"
                        icon="visibility"
                      />
                      <q-btn
                        @click="doDelete(props.row.bonusid)"
                        color="negative"
                        icon="delete"
                      />
                    </q-btn-group>
                  </q-td>
                </q-tr>
              </template>
            </q-table>
            <br />
            <q-table
              class="my-sticky-column-table"
              title="Advanced Bonus Table"
              :data="bonusAdvanceRows"
              :columns="bonusColumns"
              :filter="filteradvance"
              row-key="name"
            >
              <template v-slot:top-right>
                <q-input
                  borderless
                  dense
                  debounce="300"
                  v-model="filteradvance"
                  placeholder="Search"
                >
                  <template v-slot:append>
                    <q-icon name="search" />
                  </template>
                </q-input>
              </template>

              <template v-slot:body="props">
                <q-tr :props="props">
                  <q-td key="no" :props="props">{{ props.row.no }}</q-td>
                  <q-td key="tickettype" :props="props">{{
                    props.row.tickettype
                  }}</q-td>
                  <q-td key="point1" :props="props">{{
                    props.row.point1
                  }}</q-td>
                  <q-td key="point2" :props="props">{{
                    props.row.point2
                  }}</q-td>
                  <q-td key="point3" :props="props">{{
                    props.row.point3
                  }}</q-td>
                  <q-td key="multiple" :props="props">
                    {{ props.row.multiple }}
                  </q-td>
                  <q-td key="multiplepoint" :props="props">
                    {{ props.row.multiplepoint }}
                  </q-td>
                  <q-td key="note" :props="props">
                    {{ props.row.note }}
                  </q-td>
                  <q-td key="bonusid" :props="props">
                    <q-btn-group>
                      <q-btn
                        @click="doUpdate(props.row.bonusid)"
                        color="warning"
                        icon="visibility"
                      />
                      <q-btn
                        @click="doDelete(props.row.bonusid)"
                        color="negative"
                        icon="delete"
                      />
                    </q-btn-group>
                  </q-td>
                </q-tr>
              </template>
            </q-table>
            <br />
            <q-table
              class="my-sticky-column-table"
              title="Reguler Bonus Table"
              :data="bonusRegulerRows"
              :columns="bonusColumns"
              :filter="filterreguler"
              row-key="name"
            >
              <template v-slot:top-right>
                <q-input
                  borderless
                  dense
                  debounce="300"
                  v-model="filterreguler"
                  placeholder="Search"
                >
                  <template v-slot:append>
                    <q-icon name="search" />
                  </template>
                </q-input>
              </template>

              <template v-slot:body="props">
                <q-tr :props="props">
                  <q-td key="no" :props="props">{{ props.row.no }}</q-td>
                  <q-td key="tickettype" :props="props">{{
                    props.row.tickettype
                  }}</q-td>
                  <q-td key="point1" :props="props">{{
                    props.row.point1
                  }}</q-td>
                  <q-td key="point2" :props="props">{{
                    props.row.point2
                  }}</q-td>
                  <q-td key="point3" :props="props">{{
                    props.row.point3
                  }}</q-td>
                  <q-td key="multiple" :props="props">
                    {{ props.row.multiple }}
                  </q-td>
                  <q-td key="multiplepoint" :props="props">
                    {{ props.row.multiplepoint }}
                  </q-td>
                  <q-td key="note" :props="props">
                    {{ props.row.note }}
                  </q-td>
                  <q-td key="bonusid" :props="props">
                    <q-btn-group>
                      <q-btn
                        @click="doUpdate(props.row.bonusid)"
                        color="warning"
                        icon="visibility"
                      />
                      <q-btn
                        @click="doDelete(props.row.bonusid)"
                        color="negative"
                        icon="delete"
                      />
                    </q-btn-group>
                  </q-td>
                </q-tr>
              </template>
            </q-table>
          </q-tab-panel>

          <q-tab-panel name="skillset">
            <div class="q-pa-md q-gutter-sm">
              <q-btn
                label="Create New Skill Set"
                color="purple"
                icon="add"
                @click="iconcreateskillset = true"
              />
            </div>
            <q-table
              class="my-sticky-column-table"
              title="Skill Set Table"
              :data="skillSetRows"
              :columns="skillSetColumns"
              :filter="filterskillset"
              row-key="name"
            >
              <template v-slot:top-right>
                <q-input
                  borderless
                  dense
                  debounce="300"
                  v-model="filterskillset"
                  placeholder="Search"
                >
                  <template v-slot:append>
                    <q-icon name="search" />
                  </template>
                </q-input>
              </template>

              <template v-slot:body="props">
                <q-tr :props="props">
                  <q-td key="no" :props="props">{{ props.row.no }}</q-td>
                  <q-td key="grouptype" :props="props">{{
                    props.row.grouptype
                  }}</q-td>
                  <q-td key="level1" :props="props">{{
                    props.row.level1.levelname
                  }}</q-td>
                  <q-td key="level2" :props="props">{{
                    props.row.level2.levelname
                  }}</q-td>
                  <q-td key="code" :props="props">{{ props.row.code }}</q-td>
                  <q-td key="skillsetid" :props="props">
                    <q-btn-group>
                      <q-btn
                        @click="doUpdateSkillSet(props.row.skillsetid)"
                        color="warning"
                        icon="visibility"
                      />
                      <q-btn
                        @click="doDeleteSkillSet(props.row.skillsetid)"
                        color="negative"
                        icon="delete"
                      />
                    </q-btn-group>
                  </q-td>
                </q-tr>
              </template>
            </q-table>
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
      <q-dialog v-model="iconcreate">
        <q-card style="width: 700px; max-width: 80vw">
          <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">Create New Bonus Form</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
          </q-card-section>

          <q-card-section>
            <q-form
              @submit="onSubmitBonus()"
              @reset="onResetBonus()"
              class="q-gutter-md"
            >
              <q-select
                v-model="newBonus.grouptype"
                :options="grouptypeOptions"
                label="Group Type"
                color="purple"
              />
              <q-input
                v-model="newBonus.tickettype"
                label="Ticket Type"
                color="purple"
              />
              <q-input
                v-model="newBonus.point1"
                label="Under 10 Years Points"
                color="purple"
                type="number"
              />
              <q-input
                v-model="newBonus.point2"
                label="Above 10 Years And Below 20 Years Points"
                color="purple"
                type="number"
              />
              <q-input
                v-model="newBonus.point3"
                label="Above 20 Years Points"
                color="purple"
                type="number"
              />
              <q-select
                v-model="newBonus.multiple"
                :options="multipleOptions"
                label="Multiple"
                color="purple"
              />
              <q-input
                v-model="newBonus.multiplepoint"
                label="Multiple Points"
                color="purple"
                type="number"
              />
              <q-input v-model="newBonus.note" label="Note" color="purple" />

              <div>
                <q-btn label="Submit" type="submit" color="purple" />
                <q-btn
                  label="Reset"
                  type="reset"
                  color="purple"
                  flat
                  class="q-ml-sm"
                />
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>
      <q-dialog v-model="iconupdate">
        <q-card style="width: 700px; max-width: 80vw">
          <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">Detail Bonus Form</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
          </q-card-section>

          <q-card-section>
            <q-form
              @submit="onUpdateBonus()"
              @reset="onResetUpdateBonus()"
              class="q-gutter-md"
            >
              <q-select
                v-model="upd.grouptype"
                :options="grouptypeOptions"
                label="Group Type"
                color="purple"
              />
              <q-input
                v-model="upd.tickettype"
                label="Ticket Type"
                color="purple"
              />
              <q-input
                v-model="upd.point1"
                label="Under 10 Years Points"
                color="purple"
                type="number"
              />
              <q-input
                v-model="upd.point2"
                label="Above 10 Years And Below 20 Years Points"
                color="purple"
                type="number"
              />
              <q-input
                v-model="upd.point3"
                label="Above 20 Years Points"
                color="purple"
                type="number"
              />
              <q-select
                v-model="upd.multiple"
                :options="multipleOptions"
                label="Multiple"
                color="purple"
              />
              <q-input
                v-model="upd.multiplepoint"
                label="Multiple Points"
                color="purple"
                type="number"
              />
              <q-input v-model="upd.note" label="Note" color="purple" />

              <div>
                <q-btn label="Submit" type="submit" color="purple" />
                <q-btn
                  label="Reset"
                  type="reset"
                  color="purple"
                  flat
                  class="q-ml-sm"
                />
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>
      <q-dialog v-model="icondelete">
        <q-card style="width: 500px; max-width: 80vw">
          <h6 class="text-center">Delete Confirmation</h6>
          <div class="text-center">
            <p>
              Delete <b>{{ this.del.recordbonus }}</b
              >?
            </p>
          </div>
          <div class="text-center q-mt-md q-mr-md q-ml-md q-mb-md">
            <q-btn
              label="Delete"
              color="red"
              @click="deleteBonus(this.del.bonusid, this.del.grouptype)"
            />
            <q-btn
              label="Cancel"
              color="orange"
              class="q-ml-sm"
              @click="icondelete = false"
            />
          </div>
        </q-card>
      </q-dialog>
      <q-dialog v-model="iconcreateskillset">
        <q-card style="width: 700px; max-width: 80vw">
          <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">Create New Skill Set Form</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
          </q-card-section>

          <q-card-section>
            <q-form
              @submit="onSubmitSkillSet()"
              @reset="onResetSkillSet()"
              class="q-gutter-md"
            >
              <q-select
                v-model="newSkillSet.grouptype"
                :options="grouptypeOptions"
                label="Title"
                color="purple"
              />
              <q-select
                v-model="newSkillSet.level1"
                :options="levelOptions"
                :option-label="
                  (levelOptions) =>
                    levelOptions === null ? null : levelOptions.levelname
                "
                label="Level 1"
                color="purple"
              />
              <q-select
                v-model="newSkillSet.level2"
                :options="levelOptions"
                :option-label="
                  (levelOptions) =>
                    levelOptions === null ? null : levelOptions.levelname
                "
                label="Level 2"
                color="purple"
              />
              <q-input v-model="newSkillSet.code" label="Code" color="purple" />

              <div>
                <q-btn label="Submit" type="submit" color="purple" />
                <q-btn
                  label="Reset"
                  type="reset"
                  color="purple"
                  flat
                  class="q-ml-sm"
                />
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>
      <q-dialog v-model="iconupdateskillset">
        <q-card style="width: 700px; max-width: 80vw">
          <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">Skill Set Details</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
          </q-card-section>

          <q-card-section>
            <q-form
              @submit="onUpdateSkillSet()"
              @reset="onResetUpdateSkillSet()"
              class="q-gutter-md"
            >
              <q-select
                v-model="updSkillSet.grouptype"
                :options="grouptypeOptions"
                label="Title"
                color="purple"
              />
              <q-select
                v-model="updSkillSet.level1"
                :options="levelOptions"
                :option-label="
                  (levelOptions) =>
                    levelOptions === null ? null : levelOptions.levelname
                "
                label="Level 1"
                color="purple"
              />
              <q-select
                v-model="updSkillSet.level2"
                :options="levelOptions"
                :option-label="
                  (levelOptions) =>
                    levelOptions === null ? null : levelOptions.levelname
                "
                label="Level 2"
                color="purple"
              />
              <q-input v-model="updSkillSet.code" label="Code" color="purple" />

              <div>
                <q-btn label="Submit" type="submit" color="purple" />
                <q-btn
                  label="Reset"
                  type="reset"
                  color="purple"
                  flat
                  class="q-ml-sm"
                />
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>
      <q-dialog v-model="icondeleteskillset">
        <q-card style="width: 500px; max-width: 80vw">
          <h6 class="text-center">Delete Confirmation</h6>
          <div class="text-center">
            <p>
              Delete <b>{{ this.delSkillSet.recordskillset }}</b
              >?
            </p>
          </div>
          <div class="text-center q-mt-md q-mr-md q-ml-md q-mb-md">
            <q-btn
              label="Delete"
              color="red"
              @click="deleteSkillSet(this.delSkillSet.skillsetid)"
            />
            <q-btn
              label="Cancel"
              color="orange"
              class="q-ml-sm"
              @click="icondeleteskillset = false"
            />
          </div>
        </q-card>
      </q-dialog>
    </div>
  </q-page>
</template>

<script src="./js/bonus.js"></script>
