<template>
  <q-page class="full-width">
    <div class="q-mt-sm q-mb-sm q-mr-sm q-ml-sm">
      <h4>Master Division</h4>
      <q-table
        class="my-sticky-column-table"
        title="List Data Division"
        :data="rows"
        :columns="columns"
        :filter="filter"
        row-key="name"
      >
        <template v-slot:top-right>
          <q-input
            borderless
            dense
            debounce="300"
            v-model="filter"
            placeholder="Search"
          >
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>

        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="no" :props="props">{{ props.row.no }}</q-td>
            <q-td key="divisioname" :props="props">{{
              props.row.divisioname
            }}</q-td>
            <q-td key="divisionid" :props="props">
              <q-btn-group>
                <q-btn
                  @click="doUpdate(props.row.divisionid)"
                  color="warning"
                  icon="visibility"
                />
                <q-btn
                  @click="doDelete(props.row.divisionid)"
                  color="negative"
                  icon="delete"
                />
              </q-btn-group>
            </q-td>
          </q-tr>
        </template>
      </q-table>
      <br />
      <div class="q-pa-md q-gutter-sm">
        <q-btn
          label="Create New Division"
          color="purple"
          icon="add"
          @click="icon = true"
        />
      </div>

      <q-dialog v-model="icon">
        <q-card style="width: 700px; max-width: 80vw">
          <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">Create New Division Form</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
          </q-card-section>

          <q-card-section>
            <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
              <q-input v-model="division" label="Division" color="purple" />

              <div>
                <q-btn label="Submit" type="submit" color="purple" />
                <q-btn
                  label="Reset"
                  type="reset"
                  color="purple"
                  flat
                  class="q-ml-sm"
                />
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>
      <q-dialog v-model="icondelete">
        <q-card style="width: 500px; max-width: 80vw">
          <h6 class="text-center">Delete Confirmation</h6>
          <div class="text-center">
            <p>
              Delete <b>{{ this.div.divisioname }}</b
              >?
            </p>
          </div>
          <div class="text-center q-mt-md q-mr-md q-ml-md q-mb-md">
            <q-btn
              label="Delete"
              color="red"
              @click="deleteDivision(this.div.divisionid)"
            />
            <q-btn
              label="Cancel"
              color="orange"
              class="q-ml-sm"
              @click="icondelete = false"
            />
          </div>
        </q-card>
      </q-dialog>
      <q-dialog v-model="iconview">
        <q-card style="width: 700px; max-width: 80vw">
          <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">Division Details</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
          </q-card-section>

          <q-card-section>
            <q-form @submit="updateDivision" class="q-gutter-md">
              <q-input
                v-model="div.divisioname"
                label="Division"
                color="purple"
              />

              <div>
                <q-btn label="Update" type="submit" color="purple" />
                <q-btn
                  label="Back"
                  @click="iconview = false"
                  color="orange"
                  class="q-ml-sm"
                />
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>
    </div>
  </q-page>
</template>

<script src="./js/division.js"></script>
