<template>
  <q-page class="full-width">
    <div class="q-mt-sm q-mb-sm q-mr-sm q-ml-sm">
      <q-card class="my-card">
        <q-card-section>
          <h4>Employee Resign Data</h4>
          <q-table
            class="my-sticky-column-table"
            title="Employee Resign List"
            :data="rows"
            :columns="columns"
            row-key="name"
            :filter="filter"
          >
            <template v-slot:top-right>
              <q-input
                borderless
                dense
                debounce="300"
                v-model="filter"
                placeholder="Search"
              >
                <template v-slot:append>
                  <q-icon name="search" />
                </template>
              </q-input>
            </template>

            <template v-slot:top-left>
              <div v-if="role == 'ADMIN'">
                <div class="row">
                  <div class="col q-mr-md">
                    <q-input
                      v-model="startdate"
                      mask="date"
                      hint="Start Date"
                      color="purple"
                    >
                      <template v-slot:append>
                        <q-icon name="event" class="cursor-pointer">
                          <q-popup-proxy
                            ref="qDateProxy"
                            transition-show="scale"
                            transition-hide="scale"
                            color="purple"
                          >
                            <q-date v-model="startdate">
                              <div class="row items-center justify-end">
                                <q-btn
                                  v-close-popup
                                  label="Close"
                                  color="purple"
                                  flat
                                />
                              </div>
                            </q-date>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                  <div class="col q-mr-md">
                    <q-input
                      v-model="enddate"
                      mask="date"
                      color="purple"
                      hint="End Date"
                    >
                      <template v-slot:append>
                        <q-icon name="event" class="cursor-pointer">
                          <q-popup-proxy
                            ref="qDateProxy"
                            transition-show="scale"
                            transition-hide="scale"
                            color="purple"
                          >
                            <q-date v-model="enddate">
                              <div class="row items-center justify-end">
                                <q-btn
                                  v-close-popup
                                  label="Close"
                                  color="purple"
                                  flat
                                />
                              </div>
                            </q-date>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                  <div class="col q-mr-md">
                    <q-select
                      v-model="selectCompany"
                      :options="optionsCompanyFilter"
                      :option-label="
                        (optionsCompanyFilter) =>
                          optionsCompanyFilter === null
                            ? null
                            : optionsCompanyFilter.companyname
                      "
                      color="purple"
                      label="Company"
                    />
                  </div>
                  <div class="col">
                    <div class="q-gutter-sm q-mt-sm">
                      <q-btn
                        round
                        color="purple"
                        icon="search"
                        @click="filterSearch"
                      />
                      <q-btn
                        round
                        color="warning"
                        icon="history"
                        @click="resetFilter"
                      />
                      <q-btn
                        round
                        color="secondary"
                        icon="download"
                        @click="downloadReport()"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </template>

            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td key="no" :props="props">
                  {{ props.row.no }}
                </q-td>
                <q-td key="employeeid" :props="props">
                  {{ props.row.employeeid }}
                </q-td>
                <q-td key="callsign" :props="props">
                  {{ props.row.callsign }}
                </q-td>
                <q-td key="nikktp" :props="props">
                  {{ props.row.nikktp }}
                </q-td>
                <q-td key="nik" :props="props">
                  {{ props.row.nik }}
                </q-td>
                <q-td key="company" :props="props">
                  {{ props.row.company.companyname }}
                </q-td>
                <q-td key="regional" :props="props">
                  {{ props.row.regional.regionaldept }}
                </q-td>
                <q-td key="division" :props="props">
                  {{ props.row.division.divisioname }}
                </q-td>
                <q-td key="mainjob" :props="props">
                  {{ props.row.mainJob.mainjobname }}
                </q-td>
                <q-td key="position" :props="props">
                  {{ props.row.position.positionname }}
                </q-td>
                <q-td key="level" :props="props">
                  {{ props.row.level.levelname }}
                </q-td>
                <q-td key="email" :props="props">
                  {{ props.row.email }}
                </q-td>
                <q-td key="address" :props="props">
                  {{ props.row.address }}
                </q-td>
                <q-td key="education" :props="props">
                  {{ props.row.education.educationname }}
                </q-td>
                <q-td key="phonenum" :props="props">
                  {{ props.row.phonenum }}
                </q-td>
                <q-td key="resigndate" :props="props">
                  {{ props.row.resigndate }}
                </q-td>
                <q-td key="remark_resign" :props="props">
                  {{ props.row.remark_resign }}
                </q-td>
                <q-td key="replacementemployeeid" :props="props">
                  <div v-if="role == 'ADMIN'">
                    <div v-if="props.row.replacementemployeeid == null">
                      <q-btn
                        @click="
                          addReplace(
                            props.row.employeeid,
                            props.row.fullname,
                            props.row.callsign,
                            props.row.nik
                          )
                        "
                        color="purple-2"
                        label="Add Replacement"
                      />
                    </div>
                    <div v-else>
                      <q-btn
                        @click="viewReplace(props.row.replacementemployeeid)"
                        color="purple"
                        label="View  Replace"
                      />
                    </div>
                  </div>
                  <div v-else>No Action</div>
                </q-td>
              </q-tr>
            </template>
          </q-table>

          <q-dialog v-model="iconreplacement">
            <q-card style="width: 900px; max-width: 80vw">
              <div style="width: 800px" class="q-ml-xl q-mr-xl q-mt-xl q-mb-xl">
                <h4>Employee Replacement Form</h4>
                <br />
                <q-form
                  @submit="onSubmit"
                  @reset="onReset"
                  class="q-gutter-md"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="off"
                  spellcheck="false"
                >
                  <hr />
                  <h6 class="text-center">Employee Information</h6>
                  <div class="row">
                    <div class="col q-mr-sm">
                      <q-input
                        filled
                        disable
                        v-model="employeeid"
                        label="Employee ID"
                        class="q-mb-md"
                      />
                      <q-input
                        v-model="callsign"
                        label="Callsign"
                        color="purple"
                        class="q-mb-md"
                      />
                      <q-input
                        v-model="nik_ktp"
                        label="NIK KTP"
                        color="purple"
                        class="q-mb-md"
                      />
                      <q-input
                        v-model="nik"
                        label="Employee NIK"
                        color="purple"
                        class="q-mb-md"
                      />
                    </div>
                    <div class="col">
                      <q-input
                        v-model="fullname"
                        label="Full Name"
                        color="purple"
                        class="q-mb-md"
                      />
                      <q-input
                        v-model="address"
                        label="Address"
                        color="purple"
                        class="q-mb-md"
                      />
                      <q-select
                        v-model="education"
                        :options="optionsEducation"
                        label="Education"
                        :option-label="
                          (optionsEducation) =>
                            optionsEducation === null
                              ? null
                              : optionsEducation.educationname
                        "
                        color="purple"
                        class="q-mb-md"
                      />
                      <q-input
                        v-model="phonenum"
                        type="number"
                        label="Phone Number"
                        color="purple"
                        class="q-mb-md"
                      />
                    </div>
                  </div>
                  <br />
                  <br />
                  <br />
                  <br />
                  <hr />
                  <h6 class="text-center">Job Information</h6>
                  <div class="row">
                    <div class="col q-mr-sm">
                      <q-select
                        v-model="regional"
                        :options="optionsRegional"
                        label="Regional"
                        :option-label="
                          (optionsRegional) =>
                            optionsRegional === null
                              ? null
                              : optionsRegional.regionaldept
                        "
                        color="purple"
                        class="q-mb-md"
                      />
                      <q-select
                        v-model="division"
                        :options="optionsDivision"
                        :option-label="
                          (optionsDivision) =>
                            optionsDivision === null
                              ? null
                              : optionsDivision.divisioname
                        "
                        color="purple"
                        label="Division"
                        class="q-mb-md"
                      />
                      <q-select
                        v-model="mainjob"
                        :options="optionsMainjob"
                        label="Main Job"
                        :option-label="
                          (optionsMainjob) =>
                            optionsMainjob === null
                              ? null
                              : optionsMainjob.mainjobname
                        "
                        color="purple"
                        class="q-mb-md"
                      />
                      <q-select
                        v-model="position"
                        :options="optionsPosition"
                        label="Position"
                        :option-label="
                          (optionsPosition) =>
                            optionsPosition === null
                              ? null
                              : optionsPosition.positionname
                        "
                        color="purple"
                        class="q-mb-md"
                      />
                    </div>
                    <div class="col">
                      <q-select
                        v-model="level"
                        :options="optionsLevel"
                        label="Level"
                        :option-label="
                          (optionsLevel) =>
                            optionsLevel === null
                              ? null
                              : optionsLevel.levelname
                        "
                        color="purple"
                        class="q-mb-md"
                      />
                      <q-input
                        label="Join Date"
                        v-model="joindate"
                        mask="date"
                        color="purple"
                        class="q-mb-md"
                      >
                        <template v-slot:append>
                          <q-icon name="event" class="cursor-pointer">
                            <q-popup-proxy
                              ref="qDateProxy"
                              transition-show="scale"
                              transition-hide="scale"
                              color="purple"
                            >
                              <q-date v-model="joindate">
                                <div class="row items-center justify-end">
                                  <q-btn
                                    v-close-popup
                                    label="Close"
                                    color="primary"
                                    flat
                                  />
                                </div>
                              </q-date>
                            </q-popup-proxy>
                          </q-icon>
                        </template>
                      </q-input>
                      <q-input
                        filled
                        disable
                        v-model="joincallsign"
                        label="Join Callsign"
                      />
                      <br />
                      <q-input
                        filled
                        disable
                        v-model="releasecallsign"
                        label="Release Callsign"
                      />
                    </div>
                  </div>
                  <br />
                  <br />
                  <br />
                  <br />
                  <hr />
                  <h6 class="text-center">Company Information</h6>
                  <div class="row">
                    <div class="col q-mr-sm">
                      <q-select
                        v-model="company"
                        :options="optionsCompany"
                        :option-label="
                          (optionsCompany) =>
                            optionsCompany === null
                              ? null
                              : optionsCompany.companyname
                        "
                        color="purple"
                        class="q-mb-xl"
                        label="Company"
                      />
                      <q-input
                        type="email"
                        v-model="email"
                        label="Email"
                        color="purple"
                        class="q-mb-md"
                      />
                    </div>
                    <div class="col"></div>
                  </div>
                  <br />
                  <br />
                  <br />
                  <hr />
                  <q-input v-model="remark" label="Remark" type="textarea" />
                  <br />
                  <br />
                  <h6>Replacement Employee For :</h6>
                  <div class="row">
                    <div class="col q-mr-md">
                      <q-input
                        filled
                        disable
                        v-model="oldid"
                        label="Employee ID"
                        color="purple"
                        class="q-mb-md"
                      />
                    </div>
                    <div class="col">
                      <q-input
                        filled
                        disable
                        v-model="oldname"
                        label="Name"
                        color="purple"
                        class="q-mb-md"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col q-mr-md">
                      <q-input
                        filled
                        disable
                        v-model="oldcallsign"
                        label="Callsign"
                        color="purple"
                        class="q-mb-md"
                      />
                    </div>
                    <div class="col">
                      <q-input
                        filled
                        disable
                        v-model="oldnik"
                        label="NIK"
                        color="purple"
                        class="q-mb-md"
                      />
                    </div>
                  </div>

                  <div>
                    <q-btn label="Submit" type="submit" color="purple" />
                    <q-btn
                      label="Reset"
                      type="reset"
                      color="purple"
                      flat
                      class="q-ml-sm"
                    />
                  </div>
                </q-form>
              </div>
            </q-card>
          </q-dialog>

          <q-dialog v-model="iconview">
            <q-card style="width: 900px; max-width: 80vw">
              <div style="width: 800px" class="q-ml-xl q-mr-xl q-mt-xl q-mb-xl">
                <h4>Employee Replacement Detail</h4>
                <br />
                <q-form
                  class="q-gutter-md"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="off"
                  spellcheck="false"
                >
                  <hr />
                  <h6 class="text-center">Employee Information</h6>
                  <div class="row">
                    <div class="col q-mr-sm">
                      <q-input
                        readonly
                        v-model="detail.employeeid"
                        label="Employee ID"
                        class="q-mb-md"
                      />
                      <q-input
                        readonly
                        v-model="detail.callsign"
                        label="Callsign"
                        color="purple"
                        class="q-mb-md"
                      />
                      <q-input
                        readonly
                        v-model="detail.nik_ktp"
                        label="NIK KTP"
                        color="purple"
                        class="q-mb-md"
                      />
                      <q-input
                        readonly
                        v-model="detail.nik"
                        label="Employee NIK"
                        color="purple"
                        class="q-mb-md"
                      />
                    </div>
                    <div class="col">
                      <q-input
                        readonly
                        v-model="detail.fullname"
                        label="Full Name"
                        color="purple"
                        class="q-mb-md"
                      />
                      <q-input
                        readonly
                        v-model="detail.address"
                        label="Address"
                        color="purple"
                        class="q-mb-md"
                      />
                      <q-select
                        readonly
                        v-model="detail.education"
                        :options="optionsEducation"
                        label="Education"
                        :option-label="
                          (optionsEducation) =>
                            optionsEducation === null
                              ? null
                              : optionsEducation.educationname
                        "
                        color="purple"
                        class="q-mb-md"
                      />
                      <q-input
                        readonly
                        v-model="detail.phonenum"
                        type="number"
                        label="Phone Number"
                        color="purple"
                        class="q-mb-md"
                      />
                    </div>
                  </div>
                  <br />
                  <br />
                  <br />
                  <br />
                  <hr />
                  <h6 class="text-center">Job Information</h6>
                  <div class="row">
                    <div class="col q-mr-sm">
                      <q-select
                        readonly
                        v-model="detail.regional"
                        :options="optionsRegional"
                        label="Regional"
                        :option-label="
                          (optionsRegional) =>
                            optionsRegional === null
                              ? null
                              : optionsRegional.regionaldept
                        "
                        color="purple"
                        class="q-mb-md"
                      />
                      <q-select
                        readonly
                        v-model="detail.division"
                        :options="optionsDivision"
                        :option-label="
                          (optionsDivision) =>
                            optionsDivision === null
                              ? null
                              : optionsDivision.divisioname
                        "
                        color="purple"
                        label="Division"
                        class="q-mb-md"
                      />
                      <q-select
                        readonly
                        v-model="detail.mainjob"
                        :options="optionsMainjob"
                        label="Main Job"
                        :option-label="
                          (optionsMainjob) =>
                            optionsMainjob === null
                              ? null
                              : optionsMainjob.mainjobname
                        "
                        color="purple"
                        class="q-mb-md"
                      />
                      <q-select
                        readonly
                        v-model="detail.position"
                        :options="optionsPosition"
                        label="Position"
                        :option-label="
                          (optionsPosition) =>
                            optionsPosition === null
                              ? null
                              : optionsPosition.positionname
                        "
                        color="purple"
                        class="q-mb-md"
                      />
                    </div>
                    <div class="col">
                      <q-select
                        readonly
                        v-model="detail.level"
                        :options="optionsLevel"
                        label="Level"
                        :option-label="
                          (optionsLevel) =>
                            optionsLevel === null
                              ? null
                              : optionsLevel.levelname
                        "
                        color="purple"
                        class="q-mb-md"
                      />
                      <q-input
                        readonly
                        v-model="detail.joindate"
                        label="Join Date"
                      />
                      <q-input
                        readonly
                        v-model="detail.joincallsign"
                        label="Join Callsign"
                      />
                      <br />
                      <q-input
                        readonly
                        v-model="detail.releasecallsign"
                        label="Release Callsign"
                      />
                    </div>
                  </div>
                  <br />
                  <br />
                  <br />
                  <br />
                  <hr />
                  <h6 class="text-center">Company Information</h6>
                  <div class="row">
                    <div class="col q-mr-sm">
                      <q-select
                        readonly
                        v-model="detail.company"
                        :options="optionsCompany"
                        :option-label="
                          (optionsCompany) =>
                            optionsCompany === null
                              ? null
                              : optionsCompany.companyname
                        "
                        color="purple"
                        class="q-mb-xl"
                        label="Company"
                      />
                      <q-input
                        readonly
                        type="email"
                        v-model="detail.email"
                        label="Email"
                        color="purple"
                        class="q-mb-md"
                      />
                    </div>
                    <div class="col"></div>
                  </div>
                  <br />
                  <br />
                  <br />
                  <hr />
                  <q-input
                    readonly
                    v-model="detail.remark"
                    label="Remark"
                    type="textarea"
                  />

                  <div>
                    <q-btn
                      label="Close"
                      color="warning"
                      @click="iconview = false"
                    />
                  </div>
                </q-form>
              </div>
            </q-card>
          </q-dialog>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script src="./js/history.js"></script>
