<template>
  <q-page class="full-width">
    <div class="q-mt-sm q-mb-sm q-mr-sm q-ml-sm">
      <q-card class="my-card">
        <q-card-section>
          <q-card>
            <q-tabs
              v-model="tab"
              dense
              class="text-grey"
              active-color="purple"
              indicator-color="purple"
              align="justify"
              narrow-indicator
            >
              <q-tab name="peformance" label="Peformance" />
              <q-tab name="resign" label="Resign Report" />
            </q-tabs>

            <q-separator />

            <q-tab-panels v-model="tab" animated>
              <q-tab-panel name="peformance">
                <h6>Peformance Report</h6>
                <div class="row">
                  <div class="col-2 q-mr-sm">
                    <q-select
                      v-model="periodSelected"
                      :options="periodOptions"
                      color="purple"
                      label="Period"
                    />
                  </div>
                  <div class="col-2 q-mr-sm">
                    <q-select
                      v-model="companySelected"
                      :options="companyOptions"
                      :option-label="
                        (companyOptions) =>
                          companyOptions === null
                            ? null
                            : companyOptions.companyname
                      "
                      color="purple"
                      label="Company"
                    />
                  </div>
                  <div class="col-2 q-mr-sm">
                    <q-input v-model="filter" label="Team" color="purple" />
                  </div>
                  <div class="col-2">
                    <div class="q-gutter-sm q-mt-sm">
                      <q-btn
                        round
                        color="purple"
                        icon="search"
                        @click="filterPeformanceSearch"
                      />
                      <q-btn
                        round
                        color="warning"
                        icon="history"
                        @click="resetPeformanceFilter"
                      />
                    </div>
                  </div>
                </div>
                <br />
                <q-table
                  class="my-sticky-column-table"
                  title="Productivity"
                  :data="productivityDatas"
                  :columns="productivityColumns"
                  row-key="name"
                  :pagination.sync="paginationPrd"
                  :loading="loadingProductivity"
                  @request="onRequestPrd"
                  :rows-per-page-options="[6, 8, 10]"
                >
                </q-table>
                <br />
                <q-table
                  class="my-sticky-column-table"
                  title="Attedance Point"
                  :data="attedanceDatas"
                  :columns="attedanceColumns"
                  row-key="name"
                  :pagination.sync="paginationAtt"
                  :loading="loadingAttedance"
                  @request="onRequestAtt"
                  :rows-per-page-options="[6, 8, 10]"
                >
                </q-table>
                <br />
                <q-table
                  class="my-sticky-column-table"
                  title="Ticket Point"
                  :data="ticketPointDatas"
                  :columns="ticketPointColumns"
                  row-key="name"
                  :pagination.sync="paginationTp"
                  :loading="loadingTicketPoint"
                  @request="onRequestTp"
                  :rows-per-page-options="[6, 8, 10]"
                >
                </q-table>
              </q-tab-panel>

              <q-tab-panel name="resign">
                <h6>Resign Report</h6>
                <q-table
                  class="my-sticky-column-table"
                  title="Productivity"
                  :data="resignRows"
                  :columns="resignColumns"
                  row-key="totalresign"
                  :filter="filter"
                >
                  <template v-slot:top-left>
                    <div class="row">
                      <div class="col q-mr-md">
                        <q-input
                          v-model="startdate"
                          mask="date"
                          hint="Start Date"
                          color="purple"
                        >
                          <template v-slot:append>
                            <q-icon name="event" class="cursor-pointer">
                              <q-popup-proxy
                                ref="qDateProxy"
                                transition-show="scale"
                                transition-hide="scale"
                                color="purple"
                              >
                                <q-date v-model="startdate">
                                  <div class="row items-center justify-end">
                                    <q-btn
                                      v-close-popup
                                      label="Close"
                                      color="purple"
                                      flat
                                    />
                                  </div>
                                </q-date>
                              </q-popup-proxy>
                            </q-icon>
                          </template>
                        </q-input>
                      </div>
                      <div class="col q-mr-md">
                        <q-input
                          v-model="enddate"
                          mask="date"
                          color="purple"
                          hint="End Date"
                        >
                          <template v-slot:append>
                            <q-icon name="event" class="cursor-pointer">
                              <q-popup-proxy
                                ref="qDateProxy"
                                transition-show="scale"
                                transition-hide="scale"
                                color="purple"
                              >
                                <q-date v-model="enddate">
                                  <div class="row items-center justify-end">
                                    <q-btn
                                      v-close-popup
                                      label="Close"
                                      color="purple"
                                      flat
                                    />
                                  </div>
                                </q-date>
                              </q-popup-proxy>
                            </q-icon>
                          </template>
                        </q-input>
                      </div>
                      <div class="col q-mr-md">
                        <q-select
                          v-model="selectPosition"
                          :options="positionOptions"
                          :option-label="
                            (positionOptions) =>
                              positionOptions === null
                                ? null
                                : positionOptions.positionname
                          "
                          color="purple"
                          label="Position"
                        />
                      </div>
                      <div class="col">
                        <div class="q-gutter-sm q-mt-sm">
                          <q-btn
                            round
                            color="purple"
                            icon="search"
                            @click="filterSearch"
                          />
                          <q-btn
                            round
                            color="warning"
                            icon="history"
                            @click="resetFilter"
                          />
                          <q-btn
                            round
                            color="secondary"
                            icon="download"
                            @click="downloadReport()"
                          />
                        </div>
                      </div>
                    </div>
                  </template>
                  <template v-slot:top-right>
                    <q-input
                      borderless
                      dense
                      debounce="300"
                      v-model="filter"
                      placeholder="Search"
                    >
                      <template v-slot:append>
                        <q-icon name="search" />
                      </template>
                    </q-input>
                  </template>
                  <template v-slot:body="props">
                    <q-tr :props="props">
                      <q-td key="no" :props="props">
                        {{ props.row.no }}
                      </q-td>
                      <q-td key="companyname" :props="props">
                        {{ props.row.companyname }}
                      </q-td>
                      <q-td key="totalactive" :props="props">
                        {{ props.row.totalactive }}
                      </q-td>
                      <q-td key="totalresign" :props="props">
                        {{ props.row.totalresign }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 1"
                        key="0"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[0] }}
                      </q-td>

                      <q-td
                        v-if="props.row.totaldata == 2"
                        key="0"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[0] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 2"
                        key="1"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[1] }}
                      </q-td>

                      <q-td
                        v-if="props.row.totaldata == 3"
                        key="0"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[0] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 3"
                        key="1"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[1] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 3"
                        key="2"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[2] }}
                      </q-td>

                      <q-td
                        v-if="props.row.totaldata == 4"
                        key="0"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[0] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 4"
                        key="1"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[1] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 4"
                        key="2"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[2] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 4"
                        key="3"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[3] }}
                      </q-td>

                      <q-td
                        v-if="props.row.totaldata == 5"
                        key="0"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[0] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 5"
                        key="1"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[1] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 5"
                        key="2"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[2] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 5"
                        key="3"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[3] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 5"
                        key="4"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[4] }}
                      </q-td>

                      <q-td
                        v-if="props.row.totaldata == 6"
                        key="0"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[0] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 6"
                        key="1"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[1] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 6"
                        key="2"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[2] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 6"
                        key="3"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[3] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 6"
                        key="4"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[4] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 6"
                        key="5"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[5] }}
                      </q-td>

                      <q-td
                        v-if="props.row.totaldata == 7"
                        key="0"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[0] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 7"
                        key="1"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[1] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 7"
                        key="2"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[2] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 7"
                        key="3"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[3] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 7"
                        key="4"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[4] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 7"
                        key="5"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[5] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 7"
                        key="6"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[6] }}
                      </q-td>

                      <q-td
                        v-if="props.row.totaldata == 8"
                        key="0"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[0] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 8"
                        key="1"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[1] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 8"
                        key="2"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[2] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 8"
                        key="3"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[3] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 8"
                        key="4"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[4] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 8"
                        key="5"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[5] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 8"
                        key="6"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[6] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 8"
                        key="7"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[7] }}
                      </q-td>

                      <q-td
                        v-if="props.row.totaldata == 9"
                        key="0"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[0] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 9"
                        key="1"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[1] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 9"
                        key="2"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[2] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 9"
                        key="3"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[3] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 9"
                        key="4"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[4] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 9"
                        key="5"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[5] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 9"
                        key="6"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[6] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 9"
                        key="7"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[7] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 9"
                        key="8"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[8] }}
                      </q-td>

                      <q-td
                        v-if="props.row.totaldata == 10"
                        key="0"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[0] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 10"
                        key="1"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[1] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 10"
                        key="2"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[2] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 10"
                        key="3"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[3] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 10"
                        key="4"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[4] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 10"
                        key="5"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[5] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 10"
                        key="6"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[6] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 10"
                        key="7"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[7] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 10"
                        key="8"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[8] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 10"
                        key="9"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[9] }}
                      </q-td>

                      <q-td
                        v-if="props.row.totaldata == 11"
                        key="0"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[0] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 11"
                        key="1"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[1] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 11"
                        key="2"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[2] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 11"
                        key="3"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[3] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 11"
                        key="4"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[4] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 11"
                        key="5"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[5] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 11"
                        key="6"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[6] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 11"
                        key="7"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[7] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 11"
                        key="8"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[8] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 11"
                        key="9"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[9] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 11"
                        key="10"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[10] }}
                      </q-td>

                      <q-td
                        v-if="props.row.totaldata == 12"
                        key="0"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[0] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 12"
                        key="1"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[1] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 12"
                        key="2"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[2] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 12"
                        key="3"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[3] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 12"
                        key="4"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[4] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 12"
                        key="5"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[5] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 12"
                        key="6"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[6] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 12"
                        key="7"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[7] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 12"
                        key="8"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[8] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 12"
                        key="9"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[9] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 12"
                        key="10"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[10] }}
                      </q-td>
                      <q-td
                        v-if="props.row.totaldata == 12"
                        key="11"
                        :props="props"
                      >
                        {{ props.row.valuespermonth[11] }}
                      </q-td>
                    </q-tr>
                  </template>
                </q-table>
              </q-tab-panel>
            </q-tab-panels>
          </q-card>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script src="./js/peformance.js"></script>
